@charset "UTF-8";
body {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.tabs-content {
  display: none;
  font-size: 15px;
}

.tabs-content.active {
  display: block;
}

.checkbox-field input {
  display: none;
  border: none !important;
  box-shadow: none !important;
}

.checkbox-field input + span:before {
  background: white;
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin-right: 12px;
}

.checkbox-field input:checked + span:before {
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  color: #fff;
  background: white url(../images/check.png) no-repeat;
  background-position: 3px 2px;
}

.checkbox-field input:checked + span {
  color: black;
}

.checkbox-field label {
  color: #010101;
  font-size: 14px;
  font-weight: 400;
}

header {
  margin-bottom: 27px;
}

@media (max-width: 810px) {
  header {
    text-align: center;
  }
}

header .logo {
  float: left;
  padding-top: 48px;
}

@media (max-width: 810px) {
  header .logo {
    float: none;
  }
}

header .logo a {
  display: inline-block;
}

header .logo a:hover {
  opacity: .7;
}

header .admin-list {
  float: right;
  padding-top: 62px;
}

@media (max-width: 810px) {
  header .admin-list {
    float: none;
    padding-top: 31px;
  }
}

header .admin-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .admin-list ul li {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

header .admin-list ul li:first-child {
  padding-right: 25px;
}

header .admin-list ul li:nth-child(2) {
  padding-right: 28px;
}

header .admin-list ul li:nth-child(3) {
  padding-right: 45px;
}

header .admin-list ul li:nth-child(4) {
  padding-right: 26px;
}

header .admin-list ul li.email {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 131px;
  padding-right: 64px;
}

header .admin-list ul li:last-child {
  padding-right: 0;
}

header .admin-list ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #010101;
  letter-spacing: 0.6px;
}

header .admin-list ul li a.flag-link:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 32px;
  border: 5px solid transparent;
  border-top: 5px solid black;
}

header .admin-list ul li a.heart-link:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  width: 18px;
  height: 16px;
  background: url("../images/heart.png") no-repeat;
}

header .admin-list ul li a.email-link:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 69px;
  border: 5px solid transparent;
  border-top: 5px solid black;
}

header .admin-list ul li a:hover {
  opacity: .7;
}

header .navigation {
  padding-top: 22px;
  margin-bottom: 39px;
}

@media (max-width: 850px) {
  header .navigation {
    text-align: center;
  }
}

header .navigation .main-menu {
  float: left;
  list-style: none;
  margin: 11px 0 0 0;
  padding: 0;
}

@media (max-width: 850px) {
  header .navigation .main-menu {
    float: none;
    margin: 0;
  }
}

header .navigation .main-menu li {
  display: inline-block;
  vertical-align: top;
  padding-right: 56px;
}

@media (max-width: 664px) {
  header .navigation .main-menu li {
    padding-right: 15px;
  }
}

@media (max-width: 541px) {
  header .navigation .main-menu li {
    display: block;
    padding-right: 0;
    padding: 5px 0;
  }
}

header .navigation .main-menu li:last-child {
  padding-right: 0;
}

header .navigation .main-menu li a {
  text-decoration: none;
  color: #010101;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

header .navigation .main-menu li a:hover {
  color: #ff0000;
}

header .navigation .sell {
  float: right;
  margin-top: 8px;
  text-decoration: none;
  border: 1px solid black;
  padding: 0 23px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.6px;
}

header .navigation .sell:hover {
  border: 1px solid white;
  color: white;
  background: black;
}

@media (max-width: 850px) {
  header .navigation .sell {
    float: none;
    display: inline-block;
    margin-top: 15px;
  }
}

header .admin-panel {
  background: black;
}

@media (max-width: 561px) {
  header .admin-panel {
    padding-bottom: 10px;
  }
}

header .admin-panel .panel-list-left {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1036px) {
  header .admin-panel .panel-list-left {
    float: none;
    text-align: center;
  }
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-left {
    text-align: left;
  }
}

header .admin-panel .panel-list-left li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 34px;
}

@media (max-width: 664px) {
  header .admin-panel .panel-list-left li {
    padding-right: 15px;
  }
}

@media (max-width: 606px) {
  header .admin-panel .panel-list-left li {
    padding-right: 0;
  }
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-left li {
    display: block;
  }
}

header .admin-panel .panel-list-left li:last-child {
  padding-right: 0;
}

header .admin-panel .panel-list-left li a {
  display: block;
  padding: 10px 24px 15px 24px;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-left li a {
    display: inline-block;
  }
}

header .admin-panel .panel-list-left li a.goods-link:before {
  content: '';
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  background: url("../images/pencil.png") no-repeat;
}

header .admin-panel .panel-list-left li a.score-link:before {
  content: '';
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  background: url("../images/money.png") no-repeat;
}

header .admin-panel .panel-list-left li a.deferred-link:before {
  content: '';
  position: absolute;
  top: 14px;
  left: 1px;
  width: 16px;
  height: 14px;
  background: url("../images/heart-white.png") no-repeat;
}

header .admin-panel .panel-list-left li a.settings-link:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0px;
  width: 17px;
  height: 17px;
  background: url("../images/gear.png") no-repeat;
}

header .admin-panel .panel-list-left li a:hover {
  opacity: .7;
}

header .admin-panel .panel-list-right {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1036px) {
  header .admin-panel .panel-list-right {
    float: none;
    text-align: center;
  }
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-right {
    text-align: left;
  }
}

header .admin-panel .panel-list-right li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 19px;
}

@media (max-width: 664px) {
  header .admin-panel .panel-list-right li {
    padding-right: 15px;
  }
}

@media (max-width: 606px) {
  header .admin-panel .panel-list-right li {
    padding-right: 0;
  }
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-right li {
    display: block;
  }
}

header .admin-panel .panel-list-right li:last-child {
  padding-right: 0;
}

header .admin-panel .panel-list-right li a {
  display: block;
  padding: 10px 24px 15px 24px;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-right li a {
    padding-left: 0;
  }
}

header .admin-panel .panel-list-right li a.balance:after {
  content: '';
  position: absolute;
  top: 19px;
  left: 216px;
  border: 5px solid transparent;
  border-top: 5px solid white;
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-right li a.balance:after {
    left: 190px;
  }
}

header .admin-panel .panel-list-right li a.fill {
  margin-top: 8px;
  font-size: 14px;
  border: 1px solid white;
  padding: 4px 14px;
}

header .admin-panel .panel-list-right li a.fill:hover {
  border: 1px solid black;
  background: white;
  color: black;
  opacity: 1;
}

@media (max-width: 561px) {
  header .admin-panel .panel-list-right li a.fill {
    display: inline-block;
  }
}

header .admin-panel .panel-list-right li a:hover {
  opacity: .7;
}

.settings {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 140px;
}

@media (max-width: 734px) {
  .settings {
    margin-bottom: 70px;
  }
}

.settings h2 {
  margin: 0;
  color: #010101;
  font-size: 35px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}

.settings .tabs {
  font-size: 0;
}

.settings .tabs .tabs-caption {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings .tabs .tabs-caption:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #d7d7d7;
  width: 100%;
  z-index: -1;
}

.settings .tabs .tabs-caption li {
  display: inline-block;
  vertical-align: top;
  cursor: default;
  color: #010101;
  font-size: 15px;
  font-weight: 700;
  line-height: 34px;
  border: 1px solid #d1d1d1;
  border-right: none;
  padding: 0 12px;
  letter-spacing: 0.8px;
  background: white;
}

@media (max-width: 580px) {
  .settings .tabs .tabs-caption li {
    border-right: 1px solid #d1d1d1;
    border-bottom: none;
  }
}

.settings .tabs .tabs-caption li:last-child {
  border-right: 1px solid #d1d1d1;
}

@media (max-width: 580px) {
  .settings .tabs .tabs-caption li:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
}

.settings .tabs .tabs-caption li.active {
  border-bottom: 1px solid white;
}

@media (max-width: 580px) {
  .settings .tabs .tabs-caption li.active {
    border-bottom: none;
  }
}

.settings .tabs .tabs-caption li:hover {
  color: #ff0000;
}

@media (max-width: 637px) {
  .settings .tabs .tabs-caption li {
    padding: 0 5px;
  }
}

@media (max-width: 580px) {
  .settings .tabs .tabs-caption li {
    display: block;
  }
}

.settings .seller-info {
  float: left;
  max-width: 674px;
  margin-bottom: 36px;
}

@media (max-width: 893px) {
  .settings .seller-info {
    float: none;
  }
}

.settings .seller-info .seller-info-text {
  margin: 0;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.settings .view {
  float: right;
  width: 159px;
}

@media (max-width: 893px) {
  .settings .view {
    float: none;
    width: 100%;
  }
}

.settings .view a {
  color: #010101;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.settings .view a:hover {
  opacity: .7;
}

@media (max-width: 351px) {
  .settings .view a {
    font-size: 13px;
  }
}

.settings form {
  margin-top: 37px;
  font-size: 0;
  max-width: 675px;
  width: 100%;
}

@media (max-width: 734px) {
  .settings form {
    text-align: center;
  }
}

.settings form .form-field {
  position: relative;
}

@media (max-width: 734px) {
  .settings form .form-field {
    display: initial;
  }
}

.settings form .form-field.name-field {
  margin-bottom: 24px;
}

.settings form .form-field.email-field {
  margin-bottom: 14px;
}

.settings form .form-field.phone-field {
  margin-bottom: 14px;
}

.settings form .form-field.skype-field {
  margin-bottom: 23px;
}

.settings form .form-field.purchase-field {
  position: relative;
  margin-bottom: 31px;
}

.settings form .form-field.return-field {
  position: relative;
  margin-bottom: 31px;
}

.settings form .form-field.payment-field {
  position: relative;
  margin-bottom: 28px;
}

.settings form .form-field label {
  display: inline-block;
  vertical-align: top;
  width: 185px;
  color: #010101;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.settings form .form-field label:hover {
  opacity: .7;
}

@media (max-width: 734px) {
  .settings form .form-field label {
    width: 100%;
  }
}

.settings form .form-field input {
  display: inline-block;
  border: 1px solid #d1d1d1;
  height: 36px;
  max-width: 490px;
  width: 100%;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  outline-color: black;
  padding-left: 12px;
}

.settings form .form-field input.error {
  border: 1px solid red;
}

.settings form .form-field input.valid {
  border: 1px solid green;
}

.settings form .form-field input::-webkit-input-placeholder {
  color: #010101;
}

.settings form .form-field input::-moz-placeholder {
  color: #010101;
}

.settings form .form-field input:-moz-placeholder {
  color: #010101;
}

.settings form .form-field input:-ms-input-placeholder {
  color: #010101;
}

.settings form .form-field em {
  position: absolute;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  top: 10px;
  right: 13px;
}

.settings form .form-field textarea {
  max-width: 490px;
  width: 100%;
  height: 122px;
  border: 1px solid #d1d1d1;
  resize: none;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  outline-color: black;
  padding: 11px 8px;
}

.settings form .form-field .counter-wrap {
  margin: 0;
  position: absolute;
  right: 8px;
  bottom: 5px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  cursor: default;
}

.settings form .form-field .counter-wrap span {
  padding: 0 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  width: auto;
  letter-spacing: 0;
  vertical-align: baseline;
}

.settings form span {
  display: inline-block;
  vertical-align: top;
  color: #010101;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  width: 185px;
  letter-spacing: 0.8px;
}

@media (max-width: 734px) {
  .settings form span {
    width: 100%;
  }
}

.settings form p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.settings form .photo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 93px;
  background: #ebebeb;
  border: 2px dashed #d7d7d7;
  margin-bottom: 31px;
}

.settings form .photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.settings form .background-wrap {
  margin-bottom: 29px;
}

.settings form .background-wrap .background {
  display: inline-block;
  position: relative;
  max-width: 490px;
  width: 100%;
  height: 122px;
  background: #ebebeb;
  border: 2px dashed #d7d7d7;
}

.settings form .background-wrap .background .upload {
  z-index: 2;
  position: relative;
  opacity: 0;
  max-width: 490px;
  width: 100%;
  height: 122px;
  cursor: pointer;
}

.settings form .background-wrap .background img {
  z-index: 1;
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  margin: auto;
}

.settings form .background-wrap .background .background-text {
  position: absolute;
  width: 89px;
  top: 76px;
  left: 0;
  right: 0;
  margin: auto;
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.settings form .background-wrap .background:hover {
  opacity: .7;
}

.settings form .delivery {
  display: inline-block;
  max-width: 490px;
  width: 100%;
}

.settings form .delivery .checkbox-field.personally-field {
  margin-bottom: 28px;
}

.settings form .delivery .checkbox-field.mail-field {
  margin-bottom: 19px;
}

.settings form .delivery .checkbox-field span {
  width: auto;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
}

.settings form .delivery .delivery-text {
  margin-bottom: 32px;
}

.settings form .delivery .delivery-field.сity-field {
  margin-bottom: 13px;
}

.settings form .delivery .delivery-field.address-field {
  margin-bottom: 14px;
}

.settings form .delivery .delivery-field.time-field {
  margin-bottom: 31px;
}

.settings form .delivery .delivery-field select {
  display: inline-block;
  max-width: 399px;
  width: 100%;
  height: 36px;
  border: 1px solid #d1d1d1;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  padding-left: 12px;
  outline-color: black;
}

.settings form .delivery .delivery-field label {
  display: inline-block;
  width: 86px;
  color: #010101;
  font-size: 15px;
  font-weight: 400;
}

.settings form .delivery .delivery-field input {
  max-width: 399px;
  width: 100%;
  height: 36px;
  border: 1px solid #d1d1d1;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  outline-color: black;
  padding-left: 12px;
}

.settings form .delivery .delivery-field input.error {
  border: 1px solid red;
}

.settings form .delivery .delivery-field input.valid {
  border: 1px solid green;
}

.settings form .delivery .delivery-field input::-webkit-input-placeholder {
  color: #010101;
}

.settings form .delivery .delivery-field input::-moz-placeholder {
  color: #010101;
}

.settings form .delivery .delivery-field input:-moz-placeholder {
  color: #010101;
}

.settings form .delivery .delivery-field input:-ms-input-placeholder {
  color: #010101;
}

.settings form .delivery .place-text {
  margin-bottom: 26px;
}

.settings form .delivery .place-field {
  margin-bottom: 24px;
}

.settings form .delivery .place-field input {
  width: 100%;
  height: 36px;
  border: 1px solid #d1d1d1;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  outline-color: black;
  padding-left: 12px;
}

.settings form .delivery .place-field input.error {
  border: 1px solid red;
}

.settings form .delivery .place-field input.valid {
  border: 1px solid green;
}

.settings form .delivery .place-field input::-webkit-input-placeholder {
  color: #010101;
}

.settings form .delivery .place-field input::-moz-placeholder {
  color: #010101;
}

.settings form .delivery .place-field input:-moz-placeholder {
  color: #010101;
}

.settings form .delivery .place-field input:-ms-input-placeholder {
  color: #010101;
}

.settings form .social .facebook {
  margin-bottom: 20px;
}

.settings form .social .instagram {
  margin-bottom: 51px;
}

.settings form .social .checkbox-field {
  display: inline-block;
}

.settings form .social .checkbox-field span {
  width: auto;
  color: #010101;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
}

.settings form button {
  color: black;
  font-size: 14px;
  font-weight: 600;
  background: white;
  border: 1px solid black;
  padding: 6px 26px;
  letter-spacing: 0.5px;
}

.settings form button:hover {
  color: white;
  border: 1px solid white;
  background: black;
}

footer {
  padding-bottom: 73px;
}

@media (max-width: 734px) {
  footer {
    text-align: center;
  }
}

footer .footer-list {
  float: left;
}

@media (max-width: 1020px) {
  footer .footer-list {
    float: none;
  }
}

footer .footer-list ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-list ul.list-left {
  margin-right: 114px;
}

@media (max-width: 1160px) {
  footer .footer-list ul.list-left {
    margin-right: 57px;
  }
}

@media (max-width: 838px) {
  footer .footer-list ul.list-left {
    margin-right: 28px;
  }
}

@media (max-width: 777px) {
  footer .footer-list ul.list-left {
    margin-right: 14px;
  }
}

@media (max-width: 748px) {
  footer .footer-list ul.list-left {
    margin-right: 5px;
  }
}

@media (max-width: 734px) {
  footer .footer-list ul.list-left {
    display: block;
  }
}

footer .footer-list ul.list-center {
  margin-right: 122px;
}

@media (max-width: 1160px) {
  footer .footer-list ul.list-center {
    margin-right: 61px;
  }
}

@media (max-width: 838px) {
  footer .footer-list ul.list-center {
    margin-right: 30px;
  }
}

@media (max-width: 777px) {
  footer .footer-list ul.list-center {
    margin-right: 15px;
  }
}

@media (max-width: 748px) {
  footer .footer-list ul.list-center {
    margin-right: 5px;
  }
}

@media (max-width: 734px) {
  footer .footer-list ul.list-center {
    display: block;
  }
}

footer .footer-list ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
}

footer .footer-list ul li a:hover {
  color: #ff0000;
}

footer .footer-social {
  padding-top: 9px;
  float: right;
}

@media (max-width: 1020px) {
  footer .footer-social {
    float: none;
    text-align: center;
  }
}

footer .footer-social a {
  display: inline-block;
  text-decoration: none;
}

footer .footer-social a:hover {
  opacity: .7;
}

footer .footer-social p {
  margin: 0;
  color: #010101;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.6px;
}
